.main {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
}
.mainPageBlock {
    display: flex;
    width: 800px;
    margin-top: 20px;
}
.mainPageDescr {
    color: white;
    margin-top: 55px;
    font-size: 36px;
}
.mainPageImg {
    width: 200px;
}
.hr {
    width: 1200px;
}